/* 

.slice {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s;
}



* {
  margin: 0;
  padding: 0;


}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;

}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;

} */

/* * {
  box-sizing: border-box;
} */

#content {
  overflow: hidden;
}

#content #section-video {
  position: relative;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
}

#content #section-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  height: 100vh;
}

@media (min-aspect-ratio: 16 / 9) {
  #content #section-video video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16 / 9) {
  #content #section-video video {
    width: 100%;
    height: 100%;
  }
}

#content #section-wipes {
  width: 100%;
  height: 100%;
}
#content #section-wipes .panel .panel-inner,
#content #section-wipes footer .panel-inner {
  position: absolute;
  min-width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#content #section-wipes .panel,
#content #section-wipes footer {
  height: 100vh;
  position: relative;
}
#content footer {
  background-color: black;
  height: auto;
}
